<span >
    <a routerLink="{{contact?.id}}">

    <span class="col-lg-3 m-2 p-3 mb-5 bg-white rounded" >
        <div id="main">
        <mat-card class="example-card">
        <mat-card-content>
            <mat-card-title>{{contact?.title}}</mat-card-title>
            <p class="text-center">{{contact?.content}}</p>
            <mat-icon class="text-primary" aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon><small class="text-white">_</small>
            <mat-icon class="text-danger" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon><small class="text-white">_</small>
        </mat-card-content>
       
    </mat-card>
</div>
    </span>
</a>
</span>