<div id="h1" class="bg-primary">
    <strong >Keep Note</strong>
    <span >
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon><small class="text-primary">_</small>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="apps"></mat-icon><small class="text-primary">_</small>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
    </span>
    
    </div>

    <app-note-view ></app-note-view>